<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Travel Buddy</title>

    <link rel="stylesheet" href="" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}">

    <link rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css}">

</head>
<body>

<!-- header -->
<header id="everything">
    <a href="#" class="logo"><img src="" th:src="@{/images/gtr.png}" alt = "logo"></a>

    <div class="bx bx-menu" id="menu-icon"></div>

    <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#locations">Locations</a></li>
        <li><a href="#recentTrips">Recent Trips</a></li>
        <li><a href="#reviews">Reviews</a></li>
    </ul>
    <div class="header-btn">
        <a th:href="@{listTrip}" class="list_trips">List Trip</a>
        <a th:href="@{userProfile}" style="font-size:1.3rem;"><i class="fas fa-user"></i></a>
    </div>
</header>

<section class="home" id="home">
    <form action="get"  th:action="@{search}">
        <div class="input-box">
            <span>Location</span>
            <input type="search" name="keyword"  placeholder="Enter Location">
        </div>
        <div class="input-box">
            <span>Pick-Up Date</span>
            <input type="date" name="">
        </div>
        <div class="input-box">
            <span>Return-Date</span>
            <input type="date" name="">
        </div>
        <input type="submit" name="" class="btn">
    </form>
</section>

<section class="ride" id="ride">
    <div id="divCheckbox" style="display: none;">
        <img src="/static/bg4.jpg" >
    </div>
    <div class="heading">
        <span>How it works</span>
        <h1>Rent with 3 easy steps</h1>
    </div>
    <div class="ride-container">
        <div class="box">
            <i class='bx bxs-map'></i>
            <h2>Choose A Location</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga consectetur et quae id deserunt quas asperiores reprehenderit dolore, odio amet adipisci. Sit nihil fuga quos, labore reiciendis ipsa ab cumque?</p>
        </div>
        <div class="box">
            <i class='bx bxs-calendar-check'></i>
            <h2>Pick-up Date</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga consectetur et quae id deserunt quas asperiores reprehenderit dolore, odio amet adipisci. Sit nihil fuga quos, labore reiciendis ipsa ab cumque?</p>
        </div>
        <div class="box">
            <i class='bx bxs-calendar-star' ></i>
            <h2>Book A Trip</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga consectetur et quae id deserunt quas asperiores reprehenderit dolore, odio amet adipisci. Sit nihil fuga quos, labore reiciendis ipsa ab cumque?</p>
        </div>
    </div>
</section>

<section class="services" id="services">
    <div class="heading">
        <span>Best Services</span>
        <h1>Explore Out Top Deals <br>From Top Rated Users</h1>
    </div>
    <div class="services-container">
        <div class="box">
            <div class="box-img">
                <img th:src="@{/images/build.jpg}" alt="img1">
            </div>
            <h2></h2>
            <a th:href="@{byLocation}" class="btn">Search by Location</a>
        </div>

        <div class="box">
            <div class="box-img">
                <img th:src="@{/images/type.jpg}" alt="img1">
            </div>
            <h2></h2>
            <a th:href="@{types}" class="btn">Search by Continent</a>
        </div>

        <div class="box">
            <div class="box-img">
                <img th:src="@{/images/rating.jpg}" alt="img1">
            </div>
            <h2></h2>
            <a href="#" class="btn">Search by Ratings</a>
        </div>
    </div>

</section>
<section class="reviews" id="reviews">
    <div class="heading">
        <span>Reviews</span>
        <h1>What our customers have to say</h1>
    </div>
    <div class="reviews-container">
        <div class="box">
            <div class="rev-img">
                <img src="rev1.jpg" th:src="@{/images/rev1.jpg}" alt="">
            </div>
            <h2>Akex dolli</h2>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque optio magni reprehenderit dignissimos cupiditate laborum impedit sequi illum.</p>
        </div>
        <div class="box">
            <div class="rev-img">
                <img src="rev2.jpg" th:src="@{/images/rev2.jpg}" alt="">
            </div>
            <h2>Akex dolli</h2>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>

            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque optio magni reprehenderit dignissimos cupiditate laborum impedit sequi illum.</p>

        </div>
        <div class="box">
            <div class="rev-img">
                <img src="rev3.jpg" th:src="@{/images/rev3.jpg}" alt="">
            </div>
            <h2>Akex dolli</h2>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>

            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque optio magni reprehenderit dignissimos cupiditate laborum impedit sequi illum.</p>

        </div>
    </div>
</section>
<div class="copyright">
    <p>&#169; TravelBuddy All Rights Reserved.</p>
    <div class="social">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
    </div>
</div>

<!-- js  -->
<script src = "main.js"></script>
</body>
</html>