<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{userDeets.css}">
  <title>Document</title>
</head>

<body>
<div class="container">

  <div class="cls">

    <div class="text-center">
      <img src="images/rev1.jpg" width="170" class="rounded-circle">
    </div>

    <div class="text-center mt-3">
      <!-- <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span> -->
      <h5 class="mt-2 mb-0">Alexender Schidmt</h5>
      <span>Alexende@abc.com</span>

      <div class="px-4 mt-1">
        <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat. </p>

      </div>

      <div class="buttons">

        <a th:href="@{logout}" class="btn btn-outline-primary px-4">Sign Out</a>
        <a th:href="@{editProfile}"class="btn btn-primary px-4 ms-3">Edit Profile</a>
      </div>


    </div>

  </div>

</div>
</body>

</html>